/* Color schemes for tags (taken from schemecolor.com & colorswall.com) */
:root {
    --javascript-scheme: rgb(240, 219, 79);
    --react-scheme: rgb(97, 219, 251);
    --html-scheme: rgb(240, 101, 41);
    --css-scheme: rgb(38, 77, 228);
}

main#home {
    width: 100%;
    margin-top: auto;
}

footer div {
    gap: 48px;
}

.card {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 25px;
    gap: 16px;
}

.card-header {
    justify-content: center;
    padding: 10px 0px;
}

/* Tag Styles */
span[data-name="javascript"] {
    background-color: var(--javascript-scheme);
}

span[data-name="react"] {
    background-color: var(--react-scheme);
}

span[data-name="html"] {
    background-color: var(--html-scheme);
}

span[data-name="css"] {
    background-color: var(--css-scheme);
    color: white;
}

/* Mobile Styles ONLY */
@media only screen and (max-width: 480px) {

    div#form-controls {
        gap: 16px;
    }

    div#form-controls button {
        width: 150px;
    }
}

/* Mobile and Tablet Styles */
@media only screen and (max-width: 1023px) {
    div.navbar-item a,
    div.navbar-item div.select,
    div.navbar-item select {
        width: 100%;
    }
}

@media only screen and (min-width: 481px) {
    div#form-controls {
        gap: 150px;
    }

    div#form-controls button {
        width: 200px;
    }
}